a {
    color: #276ebe;
  }
body {
    padding: 0em 0em 0em 0em;
    font-family: Arial;
    font-size: large;
    background-color: #161b22;
    color: #C3CCD4;
  }
strong {
    color: #58A6FF;
  }
p {
    padding: 0em 1em 1em 1em;
    margin: auto;
  }
ol {
    padding: 0em 0em 0em 2em;
    margin: auto;
}
li {
    padding: 0em 1em 1em 1em;
}

.BISMILLAH {
    display: block;
    padding: 1em 0em 1em 0em;
    color: #C3CCD4;
    text-align: center;
    font-size: x-large;
    width: 90%;
    display: table;
    margin: auto;
    }
.aPageName {
  text-shadow: 0px 0px 100px #58A6FF, 0 0 1em #214C87;
  text-align: center;
  color: #58A6FF;
  padding: 2em 0em 0em 0em;
  font-size: xxx-large !important;
  font-weight: bold;
  text-decoration: none; 
  display: block;
  }
.beautifullyFooter {
  text-shadow: 0px 0px 100px #58A6FF, 0 0 1em #214C87;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: #58A6FF;
  font-size: xx-large !important;
  font-weight: bold;
  }
.MyFooter {
  color: #276ebe;
  width: 95%;
  margin: auto;
  font-size: small !important;
  font-weight: normal;
  text-align: center;
  }


  /* BUTTONS */

  .aButton {
    color: #C3CCD4;
  }
  
  .menuBTN {
    color: #58A6FF;
    background-color: #0C2616;
    display: inline-block;
    padding: 3px 0px;
    border: solid 2px #58A6FF;
    border-radius: 10px;
    text-align: center;
    font-size: xxx-large;
  }

  .GroupButton button {
    background-color: #21262D;
    border: 2px solid #8B949E;
    border-radius: 20px;
    /*закругленные углы*/
    color: #8B949E;
    width: 80%;
    align-items: center;
    font-size: xxx-large;
    text-align: center;
    padding: 15px;
    margin: 0px 0px 15px 0px;
    /*расположение от верха, правой стооны, низа и левой стооны*/
  }
  .DIVLabels {
    background-color: transparent;
    color: #58A6FF;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0 20px 0;
  }
  .MenuSectionStyle {
    background-color: #132339;
    position: absolute;
    right: 0;
    left: 0;
    display: none
  }

  /* NAVBAR */

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navbarDiv {
  margin-top: 15px; 
  margin-right: 145px; 
  float: right;
  }
