a {
    color: #15BA1F;
    font-weight: bold;
  }
body {
    font-family: 'Arial';
    background-color: #0D1117;
    color: #C3CCD4;
  }
strong {
color: #58A6FF;
}
.pBody {
    padding: 0em 1em 0em 1em;
    font-size: 35px !important;
    text-align: left !important;
    margin: auto;
  }
.BISMILLAH {
    display: block;
    color: #C3CCD4;
    text-align: center;
    font-size: 48px;
    font-family: Arial;
    padding: 0.5em 0.5em 0em 0.5em;
    width: 90%;
    display: table;
    margin: auto;
    }
.aPageName {
  text-shadow: 0px 0px 100px #58A6FF, 0 0 1em #214C87;
  text-align: center;
  color: #58A6FF;
  padding: 180px 0.5em 0.2em 0.5em;
  font-size: 90px !important;
  font-family: "Arial";
  font-weight: bold;
  text-decoration: none; 
  display: block;
}
.beautifullyFooter {
  text-shadow: 0px 0px 100px #58A6FF, 0 0 1em #214C87;
  padding: 0.5em 0.5em 0.2em 0.5em;
  color: #58A6FF;
    font-size: 60px !important;
    font-family: "Arial";
    font-weight: bold;
  }
.aFooter {
    color: #276ebe;
      font-size: 15px !important;
      font-weight: normal;
    }
.MyFooter {
  color: #2c5380;
  width: 95%;
  margin: auto;
  font-size: 15px !important;
  font-weight: normal;
  text-align: center;
}
  
  /* TABLES */

  table {
    border-collapse: collapse;
    margin: auto;
    width: 96%;
  }
  table th {
    color: #BBC4CB;
    background-color: #0C2616;
    border: solid 2px #15B91F;
    font-size: 30px;
    padding: 5px 10px 25px 10px;
  }
  table td {
    color: #C3CCD4;
    background-color: #132339;
    font-family: "Arial";
    font-size: 30px;
    text-align: justify;
    font-weight: normal;
    padding: 25px 10px 25px 10px;
  }
  .OturusColl {
    width: 15%; /* Ширина колонки */
    color: #C3CCD4;
    background: transparent; /* Цвет фона колонки */
    font-size: 40px;
    border: solid 2px #E08889;
    padding: 0px 10px 0px 10px; /* Поля вокруг содержимого ячеек */
  }
  .RekatColl {
    width: 15%; /* Ширина колонки */
    color: #E08889;
    background: #33161B; /* Цвет фона колонки */
    text-align: center;
    font-size: 40px;
    border: solid 2px #E08889;
  }
  .AyatColl {
    width: 85%; /* Ширина колонки */
    font-size: 45px;
    text-align: left;
    font-weight: bold;
    color: #15B91F;
    padding: 10px 10px 10px 20px; /* Поля вокруг содержимого ячеек */
  }
  .AyatSpanClass {
    color: #C3CCD4;
    font-weight: normal;
  }
  .AnlamSpanClass {
    color: #f4ff58;
    font-weight: normal;
  }

  /* BUTTONS */
  .aButton {
    color: #C3CCD4;
  }
  .aAchiqlama {
    color: #C3CCD4;
  }

  .PlayButton {
    display: inline-block;
    height: 50px;
    border-radius: 2em;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    padding: 1px 30px 1em 30px;
    color: #C3CCD4;
    background-color: #132339;
    border: solid 2px #C3CCD4;
    vertical-align: bottom;
  }
  
  .menuBTN {
    color: #15B91F;
    background-color: #0C2616;
    display: inline-block;
    padding: 3px 0px;
    border: solid 2px #15B91F;
    border-radius: 10px;
    text-align: center;
    font-size: 80px;
  }

  .GroupButton button {
    background-color: #21262D;
    border: 2px solid #8B949E;
    border-radius: 20px;
    /*закругленные углы*/
    color: #8B949E;
    width: 80%;
    align-items: center;
    font-size: 60px;
    text-align: center;
    padding: 15px;
    margin: 0px 0px 15px 0px;
    font-family: Arial;
    /*расположение от верха, правой стооны, низа и левой стооны*/
  }
  .DIVLabels {
    background-color: transparent;
    color: #58A6FF;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding: 25px 0 20px 0;
  }
  .MenuSectionStyle {
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 20px; 
    display: none
  }
  /* NAVBAR */
/*  
    background-color: #132339;
    border: 1px solid #58A6FF;
*/
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  .navbarDiv {
  margin-top: 15px; 
  margin-right: 145px; 
  float: right;
  }
